/* #root{
    margin-top: 20px;
} */

/*=============== MISANS FONTS ===============*/
@font-face {
  font-family: 'MiSans VF Bold';
  src: url('../fonts/MiSansVF.ttf') format("truetype-variations");
}

@font-face {
  font-family: 'MiSans VF Light';
  src: url('../fonts/MiSansVF.ttf') format("truetype-variations");
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;

  /*========== Colors ==========*/
  /* Change favorite color to match images */
  /*Green dark 190 - Green 171 - Grren Blue 200*/
  --hue-color: 37;

  /* HSL color mode */
  --first-color: hsl(var(--hue-color), 21%, 66%);
  --first-color-second: hsl(var(--hue-color), 21%, 66%);
  --first-color-alt: hsl(var(--hue-color), 21%, 15%);
  --title-color: hsl(var(--hue-color), 21%, 18%);
  --text-color: hsl(var(--hue-color), 24%, 35%);
  --text-color-light: hsl(var(--hue-color), 8%, 60%);
  --input-color: hsl(var(--hue-color), 24%, 97%);
  --body-color: hsl(var(--hue-color), 100%, 99%);
  --white-color: #FFF;
  --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
  --scroll-thumb-color: hsl(var(--hue-color), 12%, 75%);

  /*========== Font and typography ==========*/
  --body-font: 'MiSans VF Bold', sans-serif;
  --title-font: 'MiSans VF Light', sans-serif;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

body{
    padding-top: 10px;
    background-color: var(--first-color);
    font-family: var(--body-font);
}

#app {
    padding-top: 4.2rem;
}

.col{
    margin: 5px;
}

circle{
    background-color: black;
    r: 2;
    opacity: 1;
    fill: black;
    stroke: black;
}

.func-card{
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--first-color);
}

h1{
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

.form-select{
    margin-top: 10px;
}

.grid_btn{
    padding-left: 0;
    padding-right: 0;
    display: grid;
}

.footer_box{
    margin-top: 1.5em;
    height: 8em;
    background-color: #f8f9fa!important;
}

.page_footer{
    margin-top: 5em;
    font-size: .9em;
    color: #6c757d;
}

.blockquote-footer:before{
    content: "";
}

.assets-title {
    margin-top: 20px;
    margin-left: 10px;
    font-size: 1.1rem;
    font-weight: var(--font-medium);
}

@media (min-width: 992px) {
    .function_area {
        display: flex;
    }

    .left {
        flex: 2;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .right {
        flex: 3;
    }

    #function_box {
        max-height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
